<h1>Profile</h1>
<form>
	<div class="form-group">
		<label for="patientName">Patient Name</label>
		<input class="form-control" type="text" id="patientName">
	</div>
	<div class="form-group">
		<label for="dob">Date of Birth</label>
		<input class="form-control" type="date" id="dob">
	</div>
	<div class="form-group">
		<label for="gender">Gender</label>
		<input class="form-control" type="text" id="gender">
	</div>
	<div class="form-group">
		<label for="ethnicity">Ethnicity</label>
		<input class="form-control" type="text" id="ethnicity">
	</div>
	<div class="form-group">
		<label for="address">Address</label>
		<input class="form-control" type="text" id="address">
	</div>
	<div class="form-group">
		<label for="healthPlan">Health Plan</label>
		<input class="form-control" type="text" id="healthPlan">
	</div>
	<div class="form-group">
		<label for="language">Language</label>
		<input class="form-control" type="text" id="language">
	</div>
	<button class="btn btn-success btn-block">Update</button>
</form>