<h2>Blood Test</h2>

<div class="row">
	<div class="col-lg-3">
		<h5>acidity</h5>
		<p>{{testDetail.acidity}}</p>
	</div>
	<div class="col-lg-3">
		<h5>alcohol</h5>
		<p>{{testDetail.alcohol}}</p>
	</div>
	<div class="col-lg-3">
		<h5>ammonia</h5>
		<p>{{testDetail.ammonia}}</p>
	</div>
	<div class="col-lg-3">
		<h5>amylase</h5>
		<p>{{testDetail.amylase}}</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-3">
		<h5>bloodVolume</h5>
		<p>{{testDetail.bloodVolume}}</p>
	</div>
	<div class="col-lg-3">
		<h5>calcium</h5>
		<p>{{testDetail.calcium}}</p>
	</div>
	<div class="col-lg-3">
		<h5>co2pressure</h5>
		<p>{{testDetail.co2pressure}}</p>
	</div>
	<div class="col-lg-3">
		<h5>copper</h5>
		<p>{{testDetail.copper}}</p>
	</div>
</div>
<div>
	<h5>glucose</h5>
	<p>{{testDetail.glucose}}</p>
</div>
