<h2>Medications</h2>
<table class="table table-striped table-hover ">
	<thead>
		<tr>
			<th>Medication Name</th>
			<th>Prescribed Date</th>
			<th>Prescribed By</th>
			<th>Instruction</th>
			<th>Quantity</th>
			<th>&nbsp</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#/bloodTest">Vitamin</a></td>
			<td>2016.12.12</td>
			<td>Dr. Matt</td>
			<td>Take 1.5 tablets by mouth daily</td>
			<td>45 tablets</td>
			<td><button class="btn btn-warning">Request a renewal</button></td>
		</tr>
	</tbody>
</table>